/* src/components/ProductItem.css */
.product-item {
  border: 1px solid #180081;
  padding: 1rem;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: transform 0.2s, box-shadow 0.2s;
}
.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(2, 41, 239, 0.868);
}
.product-item img {
  max-width: 100%;
  height: auto;
}

.product-item h2 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.product-item p {
  color: #555;
}
.full-image { 
  width:100 px;
  height: 20 px;
}
.product-item button {
  background-color: #fff200;
  color: #ff0000;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #08a306;
}
@media (max-width: 768px) {
  .product-item {
    padding: 0.5rem;
  }

  .product-item h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .product-item p {
    font-size: 0.875rem;
  }

  .product-item button {
    padding: 0.5rem;
  }
}
